
::ng-deep :root{
    --body-z-index: 0;
    --player-z-index: 1000;
    --musics-container-top: 150px;
    --player-container-background-z-index: 1000;
    --player-container-z-index: 1000;
    
    
    --z-index-music-container: 50;
    --z-index-play-btn: 60;

    --z-index-top-bar-A: 50;

    --font-color: orangered;
    --menu-color: rgb(68, 68, 68);


}





/*Side-bar content------------------------------------------------*/
.side-bar {
    background-color: orange;
    height: 100%;
    width: 200px;
    position: fixed;
    padding: 10px;
    top: 160px;

    top: 100px;
}

.side-bar div {
    padding: 10px;
    /* background-color: orangered; */
    cursor: pointer;
}

.side-bar div:hover {
    /* background-color: grey; */
}

.side-bar div:focus {
    outline: none;
}


/*-----------------------------------------------------------------*/




h1{
    /* background-color: #00e676; */
    color: var(--font-color);
    padding: 10px;
    margin: 0;
    position: fixed;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    top: 0;

    z-index: var(--z-index-top-bar-A);
}










/*top bar content--------------------------------------------------*/
.top-bar-A {
    background-color: var(--menu-color);
    color: orangered;
    overflow: auto;
    white-space: nowrap;
    text-align: center;

    position: fixed;
    top: 100px;
    width: 100%;

    visibility: hidden;

    user-select: none;

    z-index: var(--z-index-top-bar-A);
}

.top-bar-A .item {
    display: inline-block;
    /* background-color: orangered; */
    padding: 10px;
    text-align: center;
}

.top-bar-A .item:hover {
    /* background-color: gray; */
    color: black;
    cursor: pointer;
}

.top-bar-A .item:focus {
    /* background-color: black;
    color: white; */
    outline: none;

}

@media only screen and (max-width: 700px) {
    .top-bar-A {
        visibility: visible;
    }
}

/*--------------------------------------------------------------------------------*/













































/*--------------------------------------------------------------------- player container css-------------------------------------------------------------------------- */



/*players styling contents-----------------------------------------------------------------*/
.player-container-background {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    opacity: .5;
    background-color: white;
    z-index: var(--player-container-background-z-index);


    visibility: visible;

}

.player-container {
    /* background-color: white; */
    background-color: black;
    position: fixed;
    top: 10%;
    left: 0;
    right: 0;
    margin: auto;
    z-index: var(--player-container-z-index);
    
    visibility: hidden;
    opacity: 0;
    
    padding: 0;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;


    width: calc(100% - 4px);
    top: 0;
    height: calc(100% - 4px);
    border: 2px solid black;

    overflow: auto;


    border-radius: 0px;


    transition: all 1s;


    /* z-index: 4000; */

}

/*title container content----------------------*/
.player-container .title-bar {
    /* background-color: grey; */
    background-color: initial;

    padding: 10px;
    width: calc(100% - 20px);
    height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;

}

.player-container .title-bar .title {
    /* background-color: orange; */
    background-color: initial;
    width: 80%;
    padding: 10px;



    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;


}

.player-container .title-bar .title span {
    display: block;
    color: white;
    /* background-color: green; */
    background-color: initial;
    width: 100%;


    transition: all 1s;
}

.textAnimated {
    animation: animateText 3s;
    animation-iteration-count: infinite;
}

@keyframes animateText {
    0% {transform: translateX(300px);}
    100% {transform: translateX(-600px);}
}

.player-container .title-bar .btns {
    /* background-color: orangered; */
    background-color: initial;
    width: 20%;
    padding: 10px;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.player-container .title-bar .btns i {
    margin: 0 10px;
    cursor: pointer;
    color: white;
}

.player-container .title-bar .btns i:hover {
    color: orangered;
}
/*----------------------*/


/*image content--------------------------------------*/
.player-container .image-container {
    /* background-color: purple; */
    background-color: initial;
    padding: 10px;
    width: calc(100% - 20px);
    height: 60%;
}

.player-container .image-container .image {
    padding: 10px;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    /* background-color: orange; */
    background-color: initial;

    /* background-image: url("./assets/default.png"); */
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    overflow: hidden;

    display: flex;
    justify-content: center;

}

.player-container .image-container .image img {
    max-height: calc(100%);
    width: auto;
}

/*------------------------------------------*/

.player-container .controls-container {
    /* background-color: orange; */
    background-color: initial;
    padding: 10px;
    width: calc(100% - 20px);
}





/*---------------------------------------------------------------------------------------------*/






.musics-container {
    background-color: green;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 220px;
    margin-top: 160px;
    padding-bottom: 40px;


    margin-top: 100px;
}

.music-container{
    width: 150px;
    background-color: white;
    margin: 5px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.music-container:active {
    transform: scale(1.01);
}



.picture{
    height: 150px;
    width: 150px;
    background-color: tomato;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;

    /* background-image: url("music_default.png"); */
    background-size: auto calc(100% - 50px);
    background-position: center;
    background-repeat: no-repeat;
}




@media only screen and (max-width: 700px) {

    .top-bar{
        height: 40px;
        padding: 10px 0;
        visibility: visible;
    }

    .side-bar {
        top: 160px;
        width: 0;
        padding: 0;
        visibility: hidden;

    }

    .musics-container {
        margin-top: 160px;
        margin-left: 0;
    }

}




/* --------------------------------------------------------------------------- */



.player-controls {
    /* background-color: orange; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.player-controls > .btns {
    /* background-color: hotpink; */
    width: 100%;

    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

    
}

.player-controls > .btns > div {
    color: white;
    /* background-color: indigo; */
    padding: 10px;
    
}

.player-controls > .btns > div > i {
    cursor: pointer;
}

.player-controls > .progress-bar {
    /* background-color: darkgray; */
    width: 100%;
    margin-bottom: 10px;
}

.player-controls > .progress-bar > .time-container {
    /* background-color: chocolate; */
    margin-bottom: 7px;
    color: white;
}





/*--------------------- seeker css ------------------------*/



:root {
    --z-index-seeker: 100;
    --z-index-buffer: 50;

}




.seeker-container {
    background-color: orange;

    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

    width: 100%;
}

.seeker-container:hover {
    cursor: pointer;
}


.seeker-container > .seeker {
    /* position: relative; */
    background-color: lightgray;
    width: 100%;
    height: 5px;


    display: flex;
    flex-wrap: nowrap;
}


.seeker-container > .seeker > .progress {
    position: relative;
    background-color: red;
    width: 99%;
    height: 5px;

    z-index: var(--z-index-seeker);
}

.seeker-container > .seeker > .progress::after {
    content: '';

    background-color: green;
    position: absolute;
    height: 18px;
    width: 18px;


    top: -6px;
    right: -9px;
    border-radius: 100%;
    
}



.seeker-container > .seeker > .buffer {
    /* position: absolute; */
    background-color: blueviolet;
    width: 40%;
    height: 5px;

    top: 0;


    z-index: var(--z-index-buffer);
}

/* ---------------------------------------------------- */









/*--------------------- seeker css ------------------------*/

.player-controls > .volume-container {
    margin: 10px 0;
    width: 50%;
    background-color: gray;
}


.player-controls > .volume-container > .seeker {
        /* position: relative; */
        background-color: lightgray;
        width: 100%;
        height: 5px;
    
    
        display: flex;
        flex-wrap: nowrap;
}

.player-controls > .volume-container > .seeker > .progress {
    position: relative;
    background-color: red;
    width: 50%;
    height: 5px;

    z-index: var(--z-index-seeker);
}

.player-controls > .volume-container > .seeker > .progress::after {
    content: '';

    background-color: green;
    position: absolute;
    height: 18px;
    width: 18px;


    top: -6px;
    right: -9px;
    border-radius: 100%;
}



/* ---------------------------------------------------- */

/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------- */






.active-route {
    background-color: var(--font-color);
    color: var(--menu-color);
}



