

<!-- <p>home works!</p> -->

<div class="top-container">
    <!--Musics contianer-------------------------------->
    <div class="musics-container" #musicsContainer>

        <div *ngFor="let music of musicsList" >
            <!--music container------------------------------------>
        <div class="music-container" (click)="callParentToShowPlayer($event)">
            <div class="picture" >
                <img id="contianer-image" [src]="musics_api.getImageUrl(music.imageUrl)" alt="photo" srcset="" class="picture" >
                
            </div>
            <div class="name">{{music.musicName}}</div>
            <!-- <div class="play"><i class="fas fa-play fa-1x"></i></div> -->
            
        </div>
        <!------------------------------------------------------>
        </div>
        
    </div>

    <div class="common-controls">
        <div *ngIf="loadMusic" class="loading">loading...</div>
        <div *ngIf="serverError" class="serverError">sever error!!!</div>

        <button *ngIf="((res && res.length > 0) && (!loadMusic)) || serverError " (click)="generateMusicsList(page = page + 1)" >Load More!</button>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>

</div>

