

<!-- <p>home works!</p> -->

<div class="top-container">
    <!--Musics contianer-------------------------------->
    <div class="musics-container" #musicsContainer>

        <div *ngFor="let music of musicsList" >
            <!--music container------------------------------------>
        <div class="music-container" (click)="callParentToShowPlayer($event)">
            <div class="picture" >
                <img [attr.data-musicPath]="music.musicPath" id="contianer-image" [src]="musics_api.getImageUrl(music.imageUrl)" alt="photo" srcset="" class="picture" >
                
            </div>
            <div [attr.data-musicPath]="music.musicPath" class="name">{{music.musicName}}</div>
            <!-- <div class="play"><i class="fas fa-play fa-1x"></i></div> -->
            
        </div>
        <!------------------------------------------------------>
        </div>
        
    </div>

    <div class="common-controls">
        <!-- <div *ngIf="!DOMLoaded" class="DomLoading">DOM loading.....</div> -->
        <span *ngIf="!DOMLoaded" class="icon-spinner3 rotate large ico-loading"></span>
        
        <div *ngIf="loadMusic" class="loading-music">
            <!-- <svg  class="loading" width="40" height="40"  xmlns="http://www.w3.org/2000/svg">
                <circle unicode="&#xf009;" id="loadingCircle" cx="20" cy="20" r="15"/>
              </svg> -->
              <span class="icon-spinner2 rotate large ico-loading"></span>
        </div>
        <div *ngIf="serverError" class="serverError">sever error!!!</div>

        <button *ngIf="((res && res.length > 0) && (!loadMusic)) || serverError " (click)="generateMusicsList(page = page + 1)" class="load-more">Load More!</button>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>

</div>