

:host{
    --body-z-index: 0;
    --player-z-index: 1000;
    
    --musics-container-top: 150px;
    --z-index-picture: 40;

    --font-color: orangered;
    --menu-color: rgb(68, 68, 68);

    --border-radius-musics-container: 10px;
}


*{
    user-select: none;
}



.musics-container {
    /* background-color: green; */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 220px;
    margin-top: 160px;
    padding-bottom: 40px;


    margin-top: 100px;
}

.music-container{
    width: 150px;
    background-color: white;
    margin: 5px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    cursor: pointer;


    z-index: var(--z-index-music-container);

    border: 1px solid wheat;
    border-radius: var(--border-radius-musics-container);

}

.music-container:active {
    transform: scale(1.01);
}



.picture{
    height: 150px;
    width: 150px;
    background-color: tomato;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;

    /*background-image: url("music_default.png");*/
    background-size: auto calc(100% - 50px);
    background-position: center;
    background-repeat: no-repeat;

    z-index: var(--z-index-picture);

    border-top-left-radius: var(--border-radius-musics-container);
    border-top-right-radius: var(--border-radius-musics-container);

}


.name {
    background-color: var(--font-color);
    height: 40px;
    
    width: 100%;
    padding: 0 10px;

    position: relative;

    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

    z-index: var(--z-index-picture);

    border-bottom-left-radius: var(--border-radius-musics-container);
    border-bottom-right-radius: var(--border-radius-musics-container);
}




.common-controls {
    background-color: orange;
    text-align: center;
    margin-left: 230px;
}




@media only screen and (max-width: 700px) {



    .musics-container {
        margin-top: 160px;
        margin-left: 0;
    }
    
    .common-controls {
        margin-left: 0;
    }
}


.load-more {
    border: none;
    background-color: var(--font-color);
    padding: 10px 20px;
    cursor: pointer;
}


.loading-music > .loading {
    background-color: initial;
}

.serverError {
    color: red;
    padding: 10px 20px;
    
    font-size: xx-large;
}

.DomLoading {
    color: red;
    padding: 10px 20px;

    font-size: xx-large;
}















/* loading css------------------------------------------------------------- */
.loading {
    background-color: rgba(255, 166, 0, 0.39);
}

.loading circle {
    fill:none;
    stroke-width:5;
    stroke:#ff0f0f;
    stroke-opacity:1;
    stroke-miterlimit:4;
    stroke-dasharray:none;
    stroke-linecap:round;
    paint-order:normal;
    stroke-linejoin:miter;
    stroke-dashoffset:0;
    fill-opacity:1;

    
    stroke-dasharray: 80;
    animation: rotate 1.5s infinite
    
    
    /*
    animation: rotate 1.5s infinite
    stroke-dasharray: 232.1022491455078;
    stroke-dashoffset: 232.1022491455078;


    transition: all 1s;
    animation: rotate 1s;
    animation-iteration-count: infinite;
    animation: rotate 1.5s infinite;
    animation-timing-function: linear;
    */
    
    
}

@keyframes rotate {
    0% {
        transform-origin: center;
        transform: rotate(0deg);
        stroke-dashoffset: 200;
        stroke: yellow;
    }
    10% {
        stroke: yellow;
    }
    60% {
        stroke-dashoffset: 10;
        transform-origin: center;
        transform: rotate(0deg);
        stroke: green;
        
    }
    100% {
        stroke-dashoffset: 40;
        transform-origin: center;
        transform: rotate(360deg);
    }
}

/* ---------------------------------------------------------------------------------------- */