<p>home works!</p>


<h1>Music Library</h1>
<div class="top-container">
    <!--Musics contianer-------------------------------->
    <div class="musics-container" #musicsContainer>

        <div *ngFor="let music of musicsList" >
            <!--music container------------------------------------>
        <div class="music-container">
            <div class="picture" >
                <img [src]="musics_api.httpSeverUrl+music.imageUrl" alt="photo" srcset="">
                <div class="play"><i class="fas fa-play fa-1x"></i></div>
            </div>
            <div class="name">{{music.musicName}}</div>
        </div>
        <!------------------------------------------------------>
        </div>
        
    </div>

    <button *ngIf="(res && res.length > 0)" (click)="generateMusicsList(page = page + 1)" >Load More!</button>

</div>


<!---Top bar content--------------------------------------------->
<div class="top-bar">
    <div class="all">All</div>
    <div class="recent">Recent</div>
    <div class="albums">Albums</div>
    <div class="artist">Artists</div>
    <div class="genres">Genres</div>
</div>
<!--------------------------------------------------------------->

<!---side bar content--------------------------------------------->
<div class="side-bar">
    <div class="all">All</div>
    <div class="recent">Recent</div>
    <div class="albums">Albums</div>
    <div class="artist">Artists</div>
    <div class="genres">Genres</div>
</div>
<!--------------------------------------------------------------->


<!--background-image: url('{{ (musics_api.httpSeverUrl + music.imageUrl) }}');-->